ENVIRONMENT="QA"

WEB_LOGIN_URL_QA="https://qa.example.com"
WEB_LOGIN_URL_STAGE="https://stage.example.com"
WEB_LOGIN_URL_TRAINING="https://training.example.com"

USERNAME="username"
PASSWORD="password"
INVALID_USERNAME="invalidUsername"
WRONG_USERNAME="wrongUsername"
WRONG_PASSWORD="wrongPassword"