ENVIRONMENT="QA"

WEB_LOGIN_URL_QA="https://qa.example.com"
WEB_LOGIN_URL_STAGE="https://stage.example.com"
WEB_LOGIN_URL_TRAINING="https://training.example.com"

USERNAME="username@domain.com"
PASSWORD="password"
INVALID_USERNAME="email@invalidDomain.com"
WRONG_USERNAME="wrongUsername@domain.com"
WRONG_PASSWORD="wrongPassword"